.page-container__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-div{
    padding-top: 20px;
    &__img{
        width:30%;
    }
    &__article{

    }
}

.footer-div-img{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    &__img{

    }
}