$color-bgc-font-articles: hsl(201, 11%, 66%);;
$color-bgc-footer: hsl(201, 11%, 66%, 0.2);

$color-bgc-btn-ios: hsl(171, 66%, 44%);
$color-bgc-btn-mac: hsl(233, 100%, 69%);

$font-size-headings: 3.1rem;
$font-size-paragraphs: 1.6rem;
$font-family-name-all: 'Bai Jamjuree', 'sans serif';
$font-weight-articles: 400;
$font-weight-headings: 600;

$line-height-paragraph: 165%;

