.page-container{
    text-align: center;
    color:$color-font-headings;

    &__header{
        padding: 80px 15px 80px 15px;
        
    }
    &__main{
        width: 90%;
        padding: 0px 15px 0px 15px;
        margin: 0 auto;
    }
    &__footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:0px 40px 50px 40px;
        background-color: ($color-bgc-footer);
    }
}